// Variables
$font-stack: 'Montserrat', sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$primary-color: #fff;
$secondary-color: rgba(7, 2, 8, 0.7);
$secondary-color-light: rgba(7, 2, 8, 0.5);


// Mixins
@mixin gradient-animation {
    background: linear-gradient(225deg, #06bbff, #f206ff);
    background-size: 400% 400%;
    
    -webkit-animation: GradientAnimation 18s ease infinite;
    -moz-animation: GradientAnimation 18s ease infinite;
    animation: GradientAnimation 18s ease infinite;

    @-webkit-keyframes GradientAnimation {
        0%{background-position:0% 100%}
        50%{background-position:100% 0%}
        100%{background-position:0% 100%}
    }
    @-moz-keyframes GradientAnimation {
        0%{background-position:0% 100%}
        50%{background-position:100% 0%}
        100%{background-position:0% 100%}
    }
    @keyframes GradientAnimation {
        0%{background-position:0% 100%}
        50%{background-position:100% 0%}
        100%{background-position:0% 100%}
    }
}

@mixin unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

// Global
html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-stack;
    font-weight: $font-regular;
    color: $primary-color;
    @include gradient-animation;
}

// Hero
.hero {
    height: 100vh;
    min-height: 800px;
    width: 95%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    p {
        color: $secondary-color;
        font-size: 50px;
        line-height: 1.2;
    }
    strong {
        color: $primary-color;
    }
}

// Header
header {
    margin: auto;
    width: 100%;
    max-width: 1600px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
}

.header-title {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-left: 10px;
    border-left: 3px solid $secondary-color-light;
    transition: 0.2s ease border-color;
    h1 {
        color: $primary-color;
        font-size: 35px;
        font-weight: $font-regular;
    }
    h2 {
        color: $secondary-color-light;
        font-size: 28px;
        padding-left: 2px;
        font-weight: $font-medium;
        transition: 0.2s ease color;
    }
}

.header-title:hover {
    cursor: pointer;
    border-color: $secondary-color;
}

.header-title:hover h2 {
    color: $secondary-color;
}

nav {
    li {
        display: inline-block;
        margin-right: 24px;
        position: relative;
        padding-bottom: 3px;
        a {
            text-decoration: none;
            font-size: 24px;
            font-weight: $font-regular;
            color: $primary-color;
        }
    }
    li:hover {
        cursor: pointer;
    }
}

.active-nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $secondary-color-light;
}

.non-active-nav-item:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $secondary-color-light;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}

.non-active-nav-item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

// About
.about {
    flex: 1 1 auto;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

// Projects
#projects {
    background-color: rgb(26, 22, 39);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-header {
    position: relative;
    margin: 20px;
    font-size: 40px;
    font-weight: $font-light;
    padding-bottom: 3px;
}

.projects-header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    @include gradient-animation;
}

.projects-grid {
    display: flex;
    max-width: 1500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-card {
    position: relative;
    padding: 15px 15px 10px 15px;
    @include gradient-animation;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.2s ease all;
    img {
        display: block;
        margin: auto;
        width: 300px;
    }
    h3 {
        font-size: 22px;
        text-align: center;
        margin-top: 10px;
        font-weight: $font-light;
    }
}

.projects-card:hover {
    transform: scale(1.05);
}

// Media Queries
@media only screen and (max-width: 1345px) {
    .hero {
        p {
            font-size: 40px;
        }
    }
}

@media only screen and (max-width: 1075px) {
    .hero {
        p {
            font-size: 35px;
        }
    }
}

@media only screen and (max-width: 940px) {
    .hero {
        p {
            font-size: 28px;
        }
    }
}

@media only screen and (max-width: 755px) {
    .header-title {
        h1 {
            color: $primary-color;
            font-size: 25px;
        }
        h2 {
            font-size: 20px;
        }
    }
    
    nav {
        li {
            font-size: 19px;
        }
    }
    .hero {
        p {
            font-size: 22px;
        }
    }
}

@media only screen and (max-width: 505px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 260px) {
    nav {
        li {
            margin-top: 10px;
        }
    }
}

// Modifiers
.hidden {
    display: none;
}

.hidden-opacity {
    opacity: 0;
}

.pointer {
    cursor: pointer;
}