body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(225deg, #06bbff, #f206ff);
  background-size: 400% 400%;
  -webkit-animation: GradientAnimation 18s ease infinite;
  -moz-animation: GradientAnimation 18s ease infinite;
  animation: GradientAnimation 18s ease infinite;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 100%; }
  50% {
    background-position: 100% 0%; }
  100% {
    background-position: 0% 100%; } }

@-moz-keyframes GradientAnimation {
  0% {
    background-position: 0% 100%; }
  50% {
    background-position: 100% 0%; }
  100% {
    background-position: 0% 100%; } }

@keyframes GradientAnimation {
  0% {
    background-position: 0% 100%; }
  50% {
    background-position: 100% 0%; }
  100% {
    background-position: 0% 100%; } }

html {
  scroll-behavior: smooth; }

header {
  margin: auto;
  width: 100%;
  max-width: 1600px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto; }

.header-title {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-left: 10px;
  border-left: 3px solid rgba(7, 2, 8, 0.5);
  transition: 0.2s ease border-color; }
  .header-title h1 {
    color: #fff;
    font-size: 35px;
    font-weight: 400; }
  .header-title h2 {
    color: rgba(7, 2, 8, 0.5);
    font-size: 28px;
    padding-left: 2px;
    font-weight: 500;
    transition: 0.2s ease color; }

.header-title:hover {
  cursor: pointer;
  border-color: rgba(7, 2, 8, 0.7); }

.header-title:hover h2 {
  color: rgba(7, 2, 8, 0.7); }

nav li {
  display: inline-block;
  margin-right: 24px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  position: relative;
  padding-bottom: 3px; }

nav li:hover {
  cursor: pointer; }

.active-nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgba(7, 2, 8, 0.5); }

.non-active-nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgba(7, 2, 8, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all; }

.non-active-nav-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

main {
  width: 100vw;
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
  overflow-x: hidden; }

.home {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px 50px 120px 50px; }
  .home p {
    color: rgba(7, 2, 8, 0.7);
    font-size: 50px;
    line-height: 1.2; }
  .home strong {
    color: #fff; }

.about {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: auto; }

.contact {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: auto; }

.hidden {
  display: none; }

.hidden-opacity {
  opacity: 0; }

.pointer {
  cursor: pointer; }
